DNI=
NOMBRE=


TWILIO_ACCOUNT_SID=''
TWILIO_AUTH_TOKEN=''

TELEGRAM_ID=""
TELEGRAM_TOKEN=""
TELEGRAM_TEST_TOKEN=""
TELEGRAM_TEST_CHAT_ID=""

INTERVALO_BUSCA_MINUTOS=5

SEND_PHONE = 
#user 1
NIE_1=''
PASSAPORTE_1=''
NOMBRE_1=''
APELLIDO1_1=''
APELLIDO2_1=''
FECHA_NASC_1=''
TELEFONO_1=''
EMAIL_1=''
DATA_MARCADO_1 = ''
DATA_INICIAL_1 = ''
#user 2
NIE_2=''
PASSAPORTE_2=''
NOMBRE_2=''
APELLIDO1_2=''
APELLIDO2_2=''
FECHA_NASC_2=''
TELEFONO_2=''
EMAIL_2=''
DATA_MARCADO_2 = '18/12/2023 20:00'
DATA_INICIAL_2 = '01/09/2023 00:00'

CHROMEDRIVER_BINARY=C:/tools/chromedriver.exe
